xterm*termName: xterm-256color
xterm*metaSendsEscape: true
xterm*faceName: VeraMono
xterm*renderFont: true
xterm*faceSize: 10
xterm*saveLines: 18384
xterm*selectToClipboard: true

#include ".Xresources.molokai"
